﻿@model IEnumerable<RegularTasks.Models.Task>

@{
    ViewBag.Title = "Задачи";
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/tasks.css">

<h2>Задачи</h2>

<div class="task-list">
@foreach (var task in Model)
{
    <div class="task-block">
        <a href="/Task/Task/@task.Id">

            <div>@task.Name</div>    
        </a>
    </div>
}
</div>
