﻿@using System.Net
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model RegularTasks.Models.Task

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";

    var isReplace = Model.Mode == TaskMode.Replace;
}

<link rel="stylesheet" href="/css/task.css" />

<h2 class="name">@Model.Name</h2>

@if (Model.Description != null)
{    
    <div class="description">@Html.Raw(Model.Description)</div>
}


@if (isReplace)
{
    <div class="columns">
        <input data-bind="textInput: pattern" />
        <div class="splitter"></div>
        <input data-bind="textInput: replace" />
    </div>
}
else
{
    <div class="columns">
        <input data-bind="textInput: pattern" />
    </div>
}

<div class="progress-indicator">
    <span>Тестов пройдено </span>
    <span data-bind="text: tests().filter(function(t) {return t.isPassed;}).length"></span>
    <span>/</span>
    <span data-bind="text: tests().length"></span>
</div>

<div data-bind="foreach: tests">
    <div class="test-block">
        <div class="test-row columns">
            <div class="test-item" data-bind="text: text, css: { 'test-passed': $data.isPassed === true, 'test-dont-passed': $data.isPassed === false }"></div>
            <div class="splitter">>></div>
            @if (isReplace)
            {
                <div class="test-item" data-bind="text: expectedText, css: { 'test-passed': $data.isPassed === true, 'test-dont-passed': $data.isPassed === false }"></div>
            }
            else
            {
                <div class="test-item" data-bind="text: match ? 'match' : 'no match', , css: { 'test-passed': $data.isPassed === true, 'test-dont-passed': $data.isPassed === false }"></div>
            }
        </div>
        @if (isReplace)
        {
            <!-- ko if: $data.actualText -->
            <div class="test-row columns">
                <div class="test-item error"></div>
                <div class="splitter"></div>                
                <div class="test-item" data-bind="text: actualText"></div>                
            </div>
            <!-- /ko -->
        }
    </div>
</div>

@section Scripts {
    <script src="/lib/knockout-3.4.2.js"></script>
    <script src="/js/TaskViewModel.js"></script>

    <script>
        var tests = @Html.Raw(JsonConvert.SerializeObject(Model.Tests, new JsonSerializerSettings()
                    {
                        ContractResolver = new CamelCasePropertyNamesContractResolver()
                    }));
        var id = '@Model.Id';

        ko.applyBindings(new TaskViewModel(id, tests));
    </script>
}