﻿.header {
    height: 120px;
    background-color: #1e90ff;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.header span {
    display: block;
}

.header span:last-of-type {
    font-size: 22px;
    position: absolute;
    left: 52%;
    top: 60px;
}


