﻿h2 {
    text-align: center;
}

.task-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
}

.task-block {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
    position: relative;
    transition: all 0.3s;
    font-size: 1.2em;
}

@media screen and (max-width: 600px) {
    .task-list {
        flex-direction: column;
    }

    .task-block {
        width: 100%;
        height: 50px;
    }
}

.task-block:hover {
    box-shadow: 0px 0px 10px 0px gray;
}

.task-block div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}