﻿.description {
    padding: 15px 0;
}

input {
    padding: 5px;
    font-size: 1.3em;
    border: 1px solid silver;    
}

.progress-indicator {
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 1.3em;
}

.test-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.test-row {
    margin-top: 10px;
}

.test-item {
    border: 1px solid silver;
    padding: 6px;
}

.test-item.error {
    border: none;
}

.columns {
    display: flex;
    flex-direction: row;
    width: 100%;    
    justify-content: space-between;
}

.splitter {
    width: 80px !important;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}

.columns > * {
    width: 100%;
}

.test-passed {
    background-color:#c0feb0;
}

.test-dont-passed {
    background-color:#ffc0cb;
}